:root {
  --bg-color: #282828;
  --default-color: #928374;
  --border-radius: 5px;
  --settings-window-gap: 50px;
  --card-shadow-color: #1d2021;
  --icon-hover: #d65d0e;
  --icon-color: #ebdbb2;
  --card-color: #3c3836;
  --text: #fabd2f;
  --text-done: #cc241d;
  --accent: #458588;
  --text-shadow-downwards: 1px 0px 0 var(--accent), -1px 0px 0 var(--accent),
    0px -1px 0 var(--accent), 0px 1px 0 var(--accent), 0px 2px 0 var(--accent),
    0px 3px 0 var(--accent), 0px 4px 0 var(--accent);
}
